body {
  text-align: center;

}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 15vw;
  margin: 0 auto;
  color: #FF7200;
}

h2 {
  width: 99vw;
  background-color: #FF7200;
  text-align: center;
  font-size: 6vw;
  color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  margin: 5%;
}

#cardTable {
  display: flex;
  flex-flow: row wrap;
  width: 99vw;
  height: 35vh;
  justify-content: center;
  margin-top: 3%;

}

.playerCard {
  flex-shrink: 1;
  max-width: 30vw;
  max-height: 45vw;
}

#dealerTable {
  margin-top: 3%;
  display: flex;
  flex-flow: row wrap;
  width: 99vw;
  height: 35vh;
  justify-content: center;

}
.dealerCard {
  flex-shrink: 1;
  max-width: 30vw;
  max-height: 45vw;


}
button {

}
#winnerDiv {
  background-color: orange;
  color: white;
  z-index: 2;
  width: 60vw;
  height: 50vh;
}
@media (min-width: 500px){
  body {
    margin: 0 auto;
    max-width: 900px;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    max-width: 900px;
    font-size: 2rem;
    margin-bottom: 0;
  }
  p {
    margin: 1%;

  }
}
