body {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 15vw;
  margin: 0 auto;
  color: #FF7200;
}

h2 {
  width: 100vw;
  background-color: #FF7200;
  text-align: center;
  font-size: 6vw;
  color: white;
  margin-top: 0;
}

p {
  font-family: Helvetica, sans-serif;
  margin: 5%;
}

.cardTable {
  background-color: green;
  width: 100vw;
  height: 50vh;
  justify-content: center;
}

.playerCard {
  display: inline-block;
  width: 30vw;
  height: 40vw;
  background-color: orange;
  margin: 5%;
}

#dealerArea {
  background-color: grey;
  width: 100vw;
  height: 40vh;
  justify-content: center;
}
.dealerCard {
  display: inline-block;
  width: 30vw;
  height: 40vw;
  background-color: orange;
  margin: 5%;

}
button {

}
